@{
    ViewBag.Title = "About";
}
<main class="main">
    <section class="container-testimonials">
        <h2 class="section-title">Acerca de Nosotros</h2>
        <h3 class="testimonial-title">ELECTROSHOP</h3>
        <p class="testimonial-txt">
            Somos una empresa importadora de equipos tecnológicos como laptops, computadoras, impresoras, accesorios en general con precios de mayoristas desde 1992.

            Adicional, contamos con nuestro departamento de servicio técnico el mismo que ofrece el servicio de reparación de equipos de computación “in house”, es decir dentro del taller.  Contamos con los mejores profesionales en el área completamente confiables y efectivos.
        </p>
    </section>

    <div class="container-editor">
        <div class="editor-item">
            <img src="~/img/img1.jpg" alt="" class="editor-img" />
            <p class="editor-circle">TU ESTILO</p>
        </div>
        <div class="editor-item">
            <img src="~/img/img5.jpg" alt="" class="editor-img" />
            <p class="editor-circle">TU ESTILO</p>
        </div>
    </div>

    <section class="container-tips">
        <div class="tip">
            <i class='bx bxs-hand'></i>
            <h2 class="tip-title">MISION CORPORATIVA</h2>
            <p class="tip-txt">Somos una empresa que ofrece a nuestros clientes alternativas que ayuden a solucionar sus necesidades en el área tecnológica ofreciendo gran variedad de productos en las mejores marcas a precios competitivos, con garantía de fábrica</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
        <div class="tip">
            <i class='bx bxs-hand'></i>
            <h2 class="tip-title">VISION DE FUTURO</h2>
            <p class="tip-txt">Ser líder del sistema de ventas a nivel nacional medido por su rentabilidad, participación y calidad de servicio mediante una organización soportada en procesos ágiles y eficientes, con un liderazgo gerencial global y proactivo con las necesidades y requerimientos del mercado y de nuestros clientes.</p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
        <div class="tip">
            <i class='bx bxs-hand'></i>
            <h2 class="tip-title">VALORES CORPORATIVOS</h2>
            <p class="tip-txt">Nuestras actividades se rigen en base a estos valores corporativos: Honestidad
                Calidad
                Responsabilidad
                Puntualidad
                Transparencia
                Integridad
                Respeto
                Empatía
            </p>
            <a href="" class="btn-shop">COMPRA AHORA</a>
        </div>
    </section>
</main>