@{
    ViewBag.Title = "Productos";
}

<main class="main">
    <div class="container">
        <h2 class="main-tittle">Productos que podrian interesarte</h2>
        <section class="container-products">
            <div class="product">
                <img src="~/img/img1.jpg" alt="" class="product-img" />
                <div class="product-description">
                    <h3 class="product-title"></h3>
                    <span class="product-price">$100</span>
                </div>
                <i class='product-icon bx bxs-cart-add'></i>
            </div>
            <div class="product">
                <img src="~/img/img2.jpg" alt="" class="product-img" />
                <div class="product-description">
                    <h3 class="product-title"></h3>
                    <span class="product-price">$100</span>
                </div>
                <i class='product-icon bx bxs-cart-add'></i>
            </div>
            <div class="product">
                <img src="~/img/img3.jpg" alt="" class="product-img" />
                <div class="product-description">
                    <h3 class="product-title"></h3>
                    <span class="product-price">$100</span>
                </div>
                <i class='product-icon bx bxs-cart-add'></i>
            </div>
            <div class="product">
                <img src="~/img/img4.jpg" alt="" class="product-img" />
                <div class="product-description">
                    <h3 class="product-title"></h3>
                    <span class="product-price">$100</span>
                </div>
                <i class='product-icon bx bxs-cart-add'></i>
            </div>
            <div class="product">
                <img src="~/img/img5.jpg" alt="" class="product-img" />
                <div class="product-description">
                    <h3 class="product-title"></h3>
                    <span class="product-price">$100</span>
                </div>
                <i class='product-icon bx bxs-cart-add'></i>
            </div>
        </section>
    </div>
</main>